# Local development files
_bmad
.claude

# Dependencies and AdonisJS build
node_modules
build
tmp

# Test coverage
coverage

# Local env overrides (non tracked)
.env.local
.env.production.local
.env.development.local

# Frontend assets compiled code
public/assets

# Build tools specific
npm-debug.log
yarn-error.log

# Editors specific
.fleet
.idea
.vscode

# Platform specific
.DS_Store
